<title>Iletisim</title>
<head>
    <link rel="stylesheet" href="~/css/style.css">
</head>


<section id="home" class="main-contact parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Bana Ulaşın...</h1>
            </div>

        </div>
    </div>
</section>



<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h2>Merhaba</h2>
                <p>Bizimle iletişime geçin.</p>

                <form action="#" method="post">
                    <div class="col-md-4 col-sm-4">
                        <input name="name" type="text" class="form-control" id="name" placeholder="İsim Soyisim">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <textarea name="message" rows="5" class="form-control" id="message" placeholder="Mesaj"></textarea>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <input name="submit" type="submit" class="form-control" id="submit" value="Gönder">
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
